# Ignore all CSV data files
*.csv

# But keep DVC pointer files (.csv.dvc)
!*.csv.dvc

# Ignore data & models directories (actual data only)
data/
models/

# Keep DVC tracking files
!data/**/*.dvc
!models/**/*.dvc
!.dvcignore

# Jupyter cache
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc